<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h2>Essential Links</h2>
    <ul>
      <li class="page1">
          <v-page v-bind="pages.page1" />
      </li>
      <li class="page2">
          <v-page v-bind="pages.page2" />
      </li>
      <li class="page3">
          <v-page class="blue" v-bind="pages.page3" />
      </li>
      <li class="page4">
          <v-page v-bind="pages.page1" />
      </li>
    </ul>
  </div>
</template>

<script>
import Page from '@/components/page/PageContent';

export default {
  name: 'En Main',
  components: {
    'v-page': Page,
  },
  data() {
    return {
      pages: {
        page1: {
          title: 'Page 1 Title',
          subTitle: 'Page 1 subTitle',
        },
        page2: {
          title: 'Page 2 Title',
          subTitle: 'Page 2 subTitle',
        },
        page3: {
          title: 'Page 3 Title',
          subTitle: 'Page 3 subTitle',
        },
      },
      msg: 'Welcome to Your Vue.js App',
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
.page1 {
    width: 100%;
    background: #fff;
    height: 300px;
}
.page2 {
    width: 100%;
    background: #f10;
    height: 150px;
}
.page3 {
    width: 100%;
    background: #f90;
    height: 800px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
