<template>
  <div class="content">
    <h2>{{title}}</h2>
    <h4>{{subTitle}}</h4>
  </div>
</template>

<script>
  export default {
    name: 'En Main',
    props: {
        type: {
          type: String
        },
        title: {
          type: String
        },
        subTitle: {
          type: String
        }
    }
  };
</script>

<style scoped>

.blue {
  color: blue !important;
}

.content {
    line-height: 2;
    background: rgba(0,0,0,0.25);
    color: #fff;
    text-align: center;
}
</style>